[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<2.3"
"psycopg2-binary" = "*"
requests = "*"
django-prettyjson = "*"
uwsgi = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
